<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127362850460-4ccfjb138duf8q13tndkhm7m1q5isc7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127362850460-4ccfjb138duf8q13tndkhm7m1q5isc7q</string>
	<key>API_KEY</key>
	<string>AIzaSyC_qAVPj8Jxz0tmJf_yIjiQag1eOsLSQ1A</string>
	<key>GCM_SENDER_ID</key>
	<string>127362850460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AllianzCloud.Travel-Firebase</string>
	<key>PROJECT_ID</key>
	<string>travel-59ff1</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-59ff1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127362850460:ios:78a046f0ff6d0d15309759</string>
	<key>DATABASE_URL</key>
	<string>https://travel-59ff1.firebaseio.com</string>
</dict>
</plist>